    <meta name="description" content="widgets" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="__dm__/images/sys/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="__dm__/css/ba/bootstrap.min.css" rel="stylesheet" />
    <!-- <link id="bootstrap-rtl-link" href="" rel="stylesheet" /> -->
    <link href="__dm__/css/ba/font-awesome.min.css" rel="stylesheet" />
    <link href="__dm__/css/ba/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <!--Beyond styles-->
    <link id="beyond-link" href="__dm__/css/ba/beyond.min.css" rel="stylesheet" />
    <link href="__dm__/css/ba/animate.min.css" rel="stylesheet" />