
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown" href="#">
                                    <!-- <i class="avatar icon fa fa-key"></i> -->
                                    <div class="avatar">
                                        <img src="__dm__/images/sys/gear.gif" alt="">
                                        
                                    </div>
                                    <section>
                                        <h2><span><i class="fa fa-key">Admidsfdsfdsfsdn</i></span></h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <li class="username"><a>Admin</a></li>
                                    <li class="theme-area text-center"><a href="javascript: void(0);">超级管理员</a></li>
                                    <!--Avatar Area-->
                                    <li class="dropdown-footer">
                                        <a href="login.html">
                                            修改密码
                                        </a>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a href="login.html">
                                            退出登陆
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                        </ul>
                    </div>
                </div>
