
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown" href="#">
                                    <!-- <i class="avatar icon fa fa-key"></i> -->
                                    <div class="avatar" style="border: 0px">
                                        <img src="__dm__/images/sys/gear_dm.gif" alt="">
                                        
                                    </div>
                                    <section>
                                        <h2><span><i class="fa fa-key" style="text-transform:capitalize">{$Request.session.username}</i></span></h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <li class="username"><a>{$Request.session.username}</a></li>
                                    <li class="theme-area text-center" id="authlevel" data-authlevel="{$authlevelv}"><a href="javascript: void(0);">{$authlevel}</a></li>
                                    <!--Avatar Area-->
                                    <li class="theme-area text-center">
                                        <a href="{:url('dm/usercenter/lookauth')}">
                                            查看权限
                                        </a>
                                    </li>
                                    <li class="theme-area text-center">
                                        <a href="{:url('dm/usercenter/cpw')}">
                                            修改密码
                                        </a>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a href="{:url('dm/passport/logout')}">
                                            退出登陆
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                        </ul>
                    </div>
                </div>
